
h3.masthead-title {
    background-image: url(../oyster-logo.png);
    background-size: 33px 31px;
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 48em) {
  h3.masthead-title {
    background-size: 27px 25px;
  }
}

img {
    border-radius: 0;
}

img.aligncenter {
    width: 100%;
}

img.alignright {
    float: right;
    margin: 0 0 0 1.5rem;
    max-width: 50%;
}

img.alignleft {
    float: left;
    margin: 0 1.5rem 0 0;
    max-width: 50%;
}

.comments {
    margin-bottom: 2rem;
}
