<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      Algorithms, insights, and a few lines of code from <a href="http://www.oyster.com/">Oyster.com&rsquo;s</a>
      engineering team.
    </p>
    <p>
      Want to work with us? <a href="http://jobs.oyster.com/">Apply here.</a>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/all-posts/">All Posts</a>
    <a class="sidebar-nav-item" href="http://www.oyster.com/">Oyster.com</a>
    <a class="sidebar-nav-item" href="https://github.com/oysterhotels">Our GitHub Repos</a>
  </nav>

  <div class="sidebar-item">
    <p>
      Oyster.com &copy; {{ site.time | date: '%Y' }}
    </p>
  </div>
</div>
