---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} by {{ page.author }}</span>
  {{ content }}
</div>

{% if page.wordpress_post_id or page.disqus_page_identifier %}
<div class="comments">
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
{% if page.url == '/test-post/' %}
        this.page.url = "http://tech.oyster.com/test-post/";
{% else %}
        this.page.url = "{{ site.baseurl }}{{ page.url }}";
{% endif %}
{% if page.wordpress_post_id %}
        this.page.identifier = "{{ page.wordpress_post_id }} http://tech.oyster.com/?p={{ page.wordpress_post_id }}";
{% elsif page.disqus_page_identifier %}
        this.page.identifier = "{{ page.disqus_page_identifier }}";
{% endif %}
    };
    (function() {
        var d = document, s = d.createElement('script');
        
        s.async = true;
        s.src = '//oystercomtechblog.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
